{% extends 'base.html.twig' %}

{% block title %}Data index{% endblock %}

{% block body %}
    <h1>Data index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Station</th>
                <th>Date</th>
                <th>Temperature</th>
                <th>Wind_direction</th>
                <th>Wind_speed</th>
                <th>Humidity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for data in data %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.station }}</td>
                <td>{{ data.date }}</td>
                <td>{{ data.temperature }}</td>
                <td>{{ data.wind_direction }}</td>
                <td>{{ data.wind_speed }}</td>
                <td>{{ data.humidity }}</td>
                <td>
                    <a href="{{ path('data_show', {'id': data.id}) }}">show</a>
                    <a href="{{ path('data_edit', {'id': data.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('data_new') }}">Create new</a>
{% endblock %}