{% extends 'base.html.twig' %}

{% block title %}Data{% endblock %}

{% block body %}
    <h1>Data</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ data.id }}</td>
            </tr>
            <tr>
                <th>Station</th>
                <td>{{ data.station }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ data.date }}</td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td>{{ data.temperature }}</td>
            </tr>
            <tr>
                <th>Wind_direction</th>
                <td>{{ data.wind_direction }}</td>
            </tr>
            <tr>
                <th>Wind_speed</th>
                <td>{{ data.wind_speed }}</td>
            </tr>
            <tr>
                <th>Humidity</th>
                <td>{{ data.humidity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('data_index') }}">back to list</a>

    <a href="{{ path('data_edit', {'id': data.id}) }}">edit</a>

    {{ include('data/_delete_form.html.twig') }}
{% endblock %}